body {
  font: 110% Sans-Serif;
  text-align: center;
}
#container {
  width: 90%;
  background-color: #FAFAFF;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #000000;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
  text-align: left;
}
#switcher {
  font-size: 80%;
  margin: 0;
  padding: 0;
}
/* Horizontal Rules */
.linebefore:before {
  display: block;
  content: " ";
  height: 2px;
  width: 70%;
  background-color: black;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

span.head {
  font-size: 125%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
}
span.trailer {
  font-size: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
}
p {
  display: block;
  clear:both;
  text-indent: 2em;
  margin: 10px;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
h1,h2,h3 {
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  text-transform:uppercase;
  color: #000;
}
h1 { font-size: 200%; }
h2 { font-size: 150%; }
h3 { font-size: 115%; }
.teiHeader {
  left: 3em;
  font-size: 90%;
}
.teiHeader label {
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  text-transform:uppercase;
  padding: 5px 20px;
  position: relative;
  z-index: 20;
  display: block;
  height: 30px;
  cursor: pointer;
  color: #777;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
  line-height: 33px;
  font-size: 19px;
  background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
  box-shadow:
    0px 0px 0px 1px rgba(155,155,155,0.3),
    1px 0px 0px 0px rgba(255,255,255,0.9) inset,
    0px 2px 2px rgba(0,0,0,0.1);
}
.teiHeader label:hover{
  background: #fff;
}
.teiHeader input:checked + label,
.teiHeader input:checked + label:hover{
  background: #c6e1ec;
  color: #3d7489;
  text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
  box-shadow:
    0px 0px 0px 1px rgba(155,155,155,0.3),
    0px 2px 2px rgba(0,0,0,0.1);
}
.teiHeader input{
  display: none;
}
.teiHeader article{
  background: rgba(255, 255, 255, 0.5);
  margin-top: -1px;
  overflow: hidden;
  height: 0px;
  position: relative;
  z-index: 10;
  transition:
    height 0.3s ease-in-out,
    box-shadow 0.6s linear;
}
.teiHeader input:checked ~ article{
  transition:
    height 0.5s ease-in-out,
    box-shadow 0.1s linear;
  box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
  overflow: auto;
  padding: 2em;
}
.teiHeader p { margin:0; padding:0; text-indent:0 }
.teiHeader p + p { margin:0; padding:0; text-indent:1em; }
.teiHeader input:checked ~ article.ac-small{
    height: 100px;
}
.teiHeader input:checked ~ article.ac-medium{
    height: 180px;
}
.teiHeader input:checked ~ article.ac-large{
    height: 400px;
}
a.app {
      color: #0000AA;
}
a:link {
      color: #0000FF;
}
a:visited {
      color: #0000AA;
}
a {
      text-decoration: none;
}
ul {
      list-style-position: inside;
	    padding-left: 1em;
	    text-indent: -1em;
}
ul.labelled {
      list-style: none;
      list-style-position: inside;
	    padding-left: 1em;
	    text-indent: -1em;
}
sup {
	    vertical-align: super;
	    font-size: smaller;
      text-height: 0em;
}
/* Metrical Formatting */
div.lg, div.mula {
  display:inline;
}
div.mula {
  font: 110%;
  font-weight: bold; 
}
.line {
  padding-left: 4em;
}
.lg > .line:first-child, .mula > .line:first-child {
  display:block;
}
p > span.line { white-space:pre; padding-left: 4em; }
p > span.line:before { content: '\A             '; }
span.a { display:block; }
.b { padding-left:2em; }
span.c { white-space:pre; }
span.c:after { content: '\A'; }
span.d { padding-left:6em; }
/* More on Citations */
div.lg + span.citation, span.line + span.citation { display: inline; }
div.lg + span.citation:after, span.line + span.citation:after { content:"\A"; white-space:pre; }
span.mentioned, span.label {
  font-weight: bold;
}
span.pageinfo {
  float:right;
  font-size: 80%;
  color: #1270A0; 
}
.foreign {
  font-style: italic;
}
/* TOC stuff */
p.divhead {
  text-transform: uppercase;
}
p.div2head {
  margin-left: 10px;
}
p.div3head {
  margin-left: 10px;
}
.nav {
  display:block;
  text-align:center;
  font-size: 80%;
}
.respStmt {
  width:45%;
  margin: 0 auto;
  font-size: 80%; 
}
